#hero {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

#hero h2 {
    font-size: 4rem;
    font-weight: 500;
    width: 55%;
    line-height: 3.5rem;
    text-align: center;
}

#hero p {
    color: var(--grey);
    text-align: center;
    width: 60%;
}

#hero .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#hero .buttons a {
    background: linear-gradient(to right, var(--midnight-blue), var(--electric-blue));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.35rem;
    border-radius: 50%;
}

#hero .buttons a ion-icon {
    font-size: 1.5rem;
    color: var(--white);
}