.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.navbar .left ion-icon {
    font-size: 2rem;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li a {
    position: relative;
    padding: 1rem 1.5rem;
}

.navbar ul li a.active {
    color: var(--electric-blue);
}

.navbar ul li a.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: var(--electric-blue);
}

@media (max-width: 600px) {
    .navbar {
        padding: 1rem;
    }

    .navbar ul {
        display: none;
    }
}