#hero {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

#hero h2 {
    font-size: 4rem;
    font-weight: 500;
    width: 60%;
    line-height: 3.5rem;
    text-align: center;
}

#hero p {
    color: var(--grey);
}

#mission {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
    gap: 1rem;
}

#mission div {
    background-color: #E8F0FA;
    padding: 1.75rem 3.5rem;
    border-radius: 7.5px;
    text-align: center;
    font-size: 0.95rem;
}

#mission > :nth-child(2),
#mission > :nth-child(13) {
    background-color: var(--midnight-blue);
    color: #E8F0FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mission > :nth-child(2) span,
#mission > :nth-child(13) span {
    font-size: 1.25rem;
}

#mission > :nth-child(2) .dot,
#mission > :nth-child(13) .dot {
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background-color: #E8F0FA;
}

#mission > :nth-child(6) {
    grid-column: span 2;
    grid-row: span 3;
    text-align: start;
}

#mission > :nth-child(17) {
    grid-column: span 2;
}

#mission > :nth-child(17) {
    grid-column: span 2;
}

#team {
    padding: 3rem 5rem 1rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#team .team-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#team .team-header .text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#team .team-header .text .dot {
    height: 10px;
    width: 10px;
    background-color: var(--electric-blue);
    border-radius: 50%;
}

#team .team-header .text h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

#team .team-header h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
    width: 95%;
}

#team .team-header .mission-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#team .team-header .mission-text .line {
    height: 1.5px;
    width: 80%;
    background-color: #d5d5d5;
}

#team .team-header .mission-text p {
    color: #949292;
}

#team .team-members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 600px) {
    #hero {
        padding-top: 7rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #hero h2 {
        width: 100%;;
    }

    #hero p {
        text-align: center;
    }

    #team {
        padding: 3rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #team h2 {
        display: none;
    }

    #team .team-header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #team .team-members {
        grid-template-columns: 1fr;
    }
}
