<section id="hero">
    <h2>New School strategies for new brands.</h2>
    <p>Sales. Branding. Social media. We build movements, not just brands.</p>
</section>

<section id="mission">
    <div></div>
    <div>
        <span>Our Mission</span>
        <span class="dot"></span>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div>The5 is not just a company, it's a movement. Founded in Mahikeng, South Africa, The5  builds scalable digital and sales strategies rooted in township culture, business insight,  and global standards. We help creators and businesses grow with clarity, elegance, and  bold execution.</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div>
        <span>Our Vision</span>
        <span class="dot"></span>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div>To become South Africa’s most trusted growth partner in digital branding and sales  strategy, from townships to boardrooms.</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</section>

<section id="team">
    <div class="team-header">
        <div class="text">
            <div class="dot"></div>
            <h3>Meet our team</h3>
        </div>
        <h2>Here at AWS, we are a diverse group of dedicated
            professionals committed to revolutionising the learning
            industry.
        </h2>
        <div class="mission-text">
            <div class="line"></div>
            <p>Get to know the faces behind our mission.</p>
        </div>
    </div>

    <div class="team-members">
        @for(member of members; track member.id) {
            <app-person [memberData]="member"/>
        }
    </div>
</section>