.team-member {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.team-member img {
    width: 100%;
    border-radius: 10px;
}

.team-member h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

.team-member .info .text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.team-member .info .text .dot {
    height: 10px;
    width: 10px;
    background-color: var(--electric-blue);
    border-radius: 50%;
}

.team-member .info .text h3 {
    font-weight: 400;
}

.team-member .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 10px;
    background-color: var(--electric-blue);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 767px) {
    .team-member {
        margin-bottom: 0.5rem;
    }

    .team-member h2 {
        font-size: 0.85rem;
        font-weight: 500;
    }
    
    .team-member .info .text {
        gap: 0.25rem;
    }

    .team-member .info .text h3 {
        font-size: 0.85rem;
        font-weight: 400;
    }

    .team-member .info .text .dot {
        height: 5px;
        width: 5px;
    }

    .team-member .icon {
        top: 5px;
        right: 5px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
}