.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--white);
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.card .layer {
    width: 2rem;
}

.card .description p {
    color: var(--grey);
}

.card span {
    font-size: 1.75rem;
    font-weight: 500;
}

.card .button {
    background-color: var(--black);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}